# NestJS Server Port
PORT="3000"

# Enable logging: ENABLED and DISABLED
LOGGING="ENABLED"

# Application environment: DEV, SIT, UAT and PROD
ENVIRONMENT="DEV"

# MongoDB URI
MONGO_URI="mongodb://root:example@localhost:27017/backoffice?authSource=admin"
